<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <form action="/api/message" method="POST">
        <fieldset>
            <legend><h2>Add Message</h2></legend>
            <input type="text" name="message" id="message" placeholder="enter message..."/>
            <br>
            <label>Messages:
                <select name="status" id="status">
                    <option value="Sent">Sent</option>
                    <option value="Received">Received</option>
                </select>
                  <br>
            </label>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <ul>
        #list#
    </ul>

</body>
</html>